.prim-bold-component {
    .maze-view {
        margin: 8px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .maze-view-row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    .maze-node {
        @half-border-thickness: 12px;
        @mid-thickness: 24px;
        @open-color: white;
        @closed-color: black;
        .top-row-container div, .bottom-row-container div {
            height: @half-border-thickness;
        }
        .mid-row-container div {
            height: @mid-thickness;
        }
        .left-cell, .right-cell {
            width: @half-border-thickness;
        }
        .mid-cell {
            width: @mid-thickness;
        }
        .node-cell {
            display: inline-block;
            height: 100%;
            background-color: @open-color;
        }
        /* border colors. corners are always closed */
        .top-row-container .left-cell, .top-row-container .right-cell {
            background-color: @closed-color;
        }
        .bottom-row-container .left-cell, .bottom-row-container .right-cell {
            background-color: @closed-color;
        }
        &.closed-up .top-row-container .mid-cell {
            background-color: @closed-color;
        }
        &.closed-left .mid-row-container .left-cell {
            background-color: @closed-color;
        }
        &.closed-right .mid-row-container .right-cell {
            background-color: @closed-color;
        }
        &.closed-down .bottom-row-container .mid-cell {
            background-color: @closed-color;
        }
    }
}
