.prim-bold-component {
    .maze-view {
        margin: 8px;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .maze-view-row {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    .maze-node {
        @half-border-thickness: 12px;
        @mid-thickness: 24px;
        .top-row-container div, .bottom-row-container div {
            height: @half-border-thickness;
        }
        .mid-row-container div {
            height: @mid-thickness;
        }
        .left-cell, .right-cell {
            width: @half-border-thickness;
        }
        .mid-cell {
            width: @mid-thickness;
            background-color: purple;
        }
        /* &.closed-up { */
        /*     border-top-color: @border-color; */
        /* } */
        /* &.closed-down { */
        /*     border-bottom-color: @border-color; */
        /* } */
        /* &.closed-left { */
        /*     border-left-color: @border-color; */
        /* } */
        /* &.closed-right { */
        /*     border-right-color: @border-color; */
        /* } */
    }
}
