.trie-view-node {
    list-style: none;
    background-color: #222;
    border-radius: 4px;
    padding: 0 0 0 16px;

    .trie-view-node-label {
        padding: 1px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        width: 30px;
        border: 1px white solid;
        border-radius: 2px;
    }
}
